<!-- sidebar.component.html -->
<!--  (mouseleave)="hideSidebar()" -->
<div id="sidebar" [ngClass]="{ 'active': isSidebarOpen }" (mouseenter)="showSidebar()">
    <div class="sidebar-header">
      <img width="50" src="assets/images/logo2.png" alt="">   <h3>Admin Panel</h3>

    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a   class="nav-link" routerLink="department">
          <i style="margin-right: 4px;"  class="bi bi-speedometer2"></i>
          Department
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="projects">
          <i style="margin-right: 4px;"  class="bi bi-people"></i>
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="screenshots">
          <i style="margin-right: 4px;"  class="bi bi-window-fullscreen"></i>
          Projects ScreenShots
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="activities">
          <i style="margin-right: 4px;"  class="bi bi-activity"></i>
          Activities
        </a>
      </li>
    </ul>
  </div>
