<a href="https://youtu.be/DbwdbNi_QUk" target="_blank" data-keyframers-credit style="color: #FFF;"></a>
 
  <i>
    <input checked type="radio" name="s" style="background-image: url('assets/images/11.jpg');"
      title="Random Picture 1">
    <input type="radio" name="s" style="background-image: url('assets/images/22.jpg');"
      title="Random Picture 2">
    <input type="radio" name="s" style="background-image: url('assets/images/33.jpg');"
      title="Random Picture 3">
    
  </i>
  <section class="section-vision">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-center">
      <div class="vision-box mb-4 md:mb-0 md:w-1/2 md:order-2">
        <div class="vision-text-box text-center md:text-right md:ml-8">
          <h1 class="heading-primary">رؤية الكلية</h1>
          <p class="vision-description">تسعى كلية الإعلام جامعة 6 أكتوبر إلى أن تكون مؤسسة تعليمية متميزة ورائدة في مجالات
            الإعلام
            والاتصال، معتمدة على التميز الأكاديمي والبحث العلمي، ومتفردة في تقديم الخدمات الإعلامية والتواصلية، وتطبيقات
            التكنولوجيا الحديثة، والتدريب العملي، لتلبية احتياجات سوق العمل، ورفع مستوى المجتمع وتحقيق التنمية
            المستدامة.</p>
        </div>
      </div>
  
      <div class="vision-img-box mx-auto md:mx-0 md:w-1/2">
        <img src="../../../../assets/vision.png" width="250" alt="Vision">
      </div>
    </div>
  </section>
<section class="section-hero">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-center">
    <div class="hero-box mb-4 md:mb-0 md:w-1/2 md:order-2">
      <div class="hero-text-box text-center md:text-right md:ml-8">
        <h1 class="heading-primary">دليل الطالب</h1>
        <p class="hero-description">دليل الطالب هو دليل شامل لطلاب كلية الإعلام</p>
        <div class="description mt-4">
          <a href="assets/دليل الطالب_compressed.pdf" download class="btn btn--fill margin-right-btn">
            <img src="assets/images/pdf.png" width="30" alt="PDF Icon" class="inline-block mr-2">
            تحميل دليل الطالب
          </a>
        </div>
      </div>
    </div>

    <div class="hero-img-box mx-auto md:mx-0 md:w-1/2">
      <img src="assets/images/logo1.png" width="350" alt="Logo">
    </div>

    <div class="hero-box mb-4 md:mb-0 md:w-1/2 md:order-1">
      <div class="hero-text-box text-center md:text-right md:mr-8">
        <h1 class="heading-primary">دليل الإرشاد</h1>
        <p class="hero-description">دليل الإرشاد الخاص بطلبة كلية الإعلام جامعة 6 أكتوبر</p>
        <div class="description mt-4">
          <a href="assets/دليل الارشاد.pdf" download class="btn btn--fill margin-right-btn">
            <img src="assets/images/pdf.png" width="30" alt="PDF Icon" class="inline-block mr-2">
            تحميل دليل الإرشاد
          </a>
        </div>
      </div>
    </div>
  </div>
</section>







<h1>اعضاء هيئة التدريس</h1>
<div class="container">

  <div class="item one">
    <div style="font-size: x-large;" class="name"><strong style="font-size: x-large;">ا.د/سمية عرفات </strong > <br />أستاذ ووكيل الكلية لشئون التعليم والطلاب</div>
  </div>

  <div class="item one">
    <div style="font-size: x-large;" class="name"><strong  style="font-size: x-large;">د/فاطمه الزهراء أبو الفتوح</strong> <br />مدرس</div>
  </div>
  <div  class="item one">
    <div style="font-size: x-large;" class="name"><strong  style="font-size: x-large;">د/أسماء مسعد عبد المجيد </strong><br />مدرس</div>
  </div>
</div>



<app-footer></app-footer>